<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.juliusz.uk/generateme/GenerateMe"
			class = "uk.juliusz.generateme.generateMe.GenerateMePackage"
			genModel = "model/generated/GenerateMe.genmodel" />
	</extension>
</plugin>
